<%- include( '../partials/header.ejs') %>

<div class="container py-5">
    <ul class="list-group">
        <% users.forEach(u => { %>
        <% if (u.email==user.email) { return} %>

        <li class="list-group-item ba-group">

            <div class="before-list-element">
                <% if (u.thumbnail==null) {  %>
                <img class="list-img" src="/assets/user-logo.png" alt="user-logo">
                <% }else{ %>
                <img class="list-img" src="<%= u.thumbnail %> " alt="user-logo">
                <% } %>
                <div class="line-group">
                    <span><%= u.name %> <small class="text-primary">(<%= u.role %>)</small></span>
                    <span><%= u.email %></span>
                </div>
            </div>
            <div class="after-list-element  dropdown">
                <a href="#" class="btn-icon">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </a>
                <div class="dropdown-menu" style="min-width:150px;">
                    <ul class="dropdown-list">
                        <% if (u.role!=="admin") { %>
                        <a href="/admin/update?role=admin&id=<%=u.id%>">Admin</a>
                        <% } %>
                        <% if (u.role!=="co_admin") { %>
                        <a href="/admin/update?role=co-admin&id=<%=u.id%>">Co-Admin</a>
                        <% } %>
                        <% if (u.role!=="user") { %>
                        <a href="/admin/update?role=user&id=<%=u.id%>">user</a>
                        <% } %>
                        <a href="/admin/delete/<%=u.id%>">Delete</a>
                    </ul>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>
</div>