<%- include( 'partials/header.ejs') %>
<div class="container py-5">
    <div class="container p-0 m-0" style="max-width: 952px; ">
        <div class="card">
            <div class="card-header-img"
                style="background-image: url('https://www.gstatic.com/classroom/themes/img_code.jpg');"></div>

            <div class="card-body">
                <div class="card-header-group">
                    <p class="card-title" style="display: inline;"><%= assignment.name %> </p>
                    <% if(user.role!=='user'){ %>
                    <div>
                        <a href="/assignment/delete/<%= assignment.id %>" class="btn-icon">
                            <ion-icon name="trash-outline"></ion-icon>
                        </a>
                        <a href="/assignment/edit/<%= assignment.id %>" class="btn-icon">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                    </div>
                    <% } %>

                </div>
                <p class="card-subtitle"><%= assignment.createdAt.toLocaleDateString() %> </p>
                <hr>
                <p class="card-title"><%= assignment.description %> </p>
                <p class="card-text"><%= assignment.information %> </p>
                <hr>
                <% if(userPDF){ %>
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">You are already upload the file to re upload first resubmit them then upload again
                    </h6>
                    <p class="card-subtitle mb-4"><%= userPDF.createdAt.toLocaleDateString() %> </p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Name</label>

                    <input disabled name="name" type="text" class="form-control" value="<%= userPDF.name %>"
                        placeholder="File name">

                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <a href="/resubmit/<%=userPDF.id%>?aId=<%=assignment.id%>" style="width: 100%;"
                            class="btn btn-outline">Resubmit</a>
                    </div>
                    <div class="col-md-6">
                        <button href="#" style="width: 100%;" class="btn btn-outline" modal
                            modal-target="#previewModal">Preview</button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="previewModal" modal-close="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="previewModalLabel">Modal title</h5>
                                <button class="btn-icon" modal-close="true">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="card-text">
                                    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                                </p>

                                <div class="card"><canvas id="the-canvas"></canvas></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" modal-close="true">Close</button>
                                <button class="btn" id="prev">
                                    <ion-icon name="arrow-back-outline"></ion-icon>
                                </button>
                                <button class="btn" id="next">
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
                <script>
                    var url = '/files/<%= userPDF.id %>.pdf';
                </script>
                <script src="/js/pdf.js"></script>
                <% }else { %>
                <form action="/upload?aId=<%=assignment.id%>&uId=<%=user.id%> " method="POST">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" placeholder="File name">
                    </div>
                    <div class="mb-3">
                        <input name="file" type="file">
                    </div>
                    <button type="submit" class="btn btn-outline">Submit</button>
                </form>
                <% } %>
            </div>
        </div>
        <% if (user.role!=='user') { %>
        <div class="card mt-5 ">
            <% if (allPDF.length>0) { %>
            <div class="card-header custom-card-header">
                <% if (zip) { %>
                <button id="makeZipModalBtn" type="button" class="btn" modal modal-target="#makeZipModal">Zip</button>
                <% }else{ %>
                <button id="makeZipModalBtn" type="button" class="btn" modal modal-target="#makeZipModal">Make
                    Zip</button>
                <% } %>
                <h6 class="m-0">Total <span class="badge bg-secondary"><%= allPDF.length %></span></h6>
            </div>
            <div class="modal fade" id="makeZipModal" modal-close="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="makeZipModalLabel">Zip</h5>
                            <button class="btn-icon" modal-close="true">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolorum.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" modal-close="true">Close</button>
                            <% if (zip) { %>
                            <a href="/zip/delete/<%= zip.id %>" type="button" id="deleteZip" class="btn">Delete</a>
                            <a href="/zip/download/<%= zip.id %>" type="button" id="makeZip" class="btn">Download</a>

                            <% }else{ %>
                            <a href="javascript:void(0);" style="display: none;" type="button" id="deleteZip"
                                class="btn">Delete</a>
                            <a href="javascript:void(0);" type="button" id="makeZip" class="btn">Make</a>
                            <button style="display: none;" id="makeZipLoading" class="btn btn-group" type="button"
                                disabled>
                                <span class="spinner"></span>
                                <span>Making...</span>
                            </button>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">All uploads</h6>
                <ul class="list-group">
                    <% allPDF.forEach(file => { %>
                    <div href="#" class="list-group-item ba-group">
                        <div class="before-list-element line-group">
                            <span><%= file.uploadBy.name %></span>
                            <span><%= file.uploadBy.email %></span>
                        </div>
                        <div href="#" class="after-list-element ">
                            <span><%= file.createdAt.toLocaleDateString() %></span>
                        </div>
                    </div>
                    <% }) %>
                </ul>
            </div>
            <script>
                const id = '<%=assignment.id%>'
                const makeZip = document.getElementById('makeZip')
                const loadingBtn = document.getElementById('makeZipLoading')
                const makeZipModalBtn = document.getElementById('makeZipModalBtn')
                const deleteZipBtn = document.getElementById('deleteZip')
                makeZip.addEventListener('click', e => {
                    makeZip.style.display = 'none'
                    loadingBtn.style.display = 'flex'
                    console.log(id)
                    fetch(`/zip/make/${id}`).then(response => {
                        return response.json()
                    }).then(data => {
                        console.log(data)
                        makeZip.style.display = 'flex'
                        makeZip.innerHTML = "Download"
                        makeZip.setAttribute("href", data.downloadUrl)
                        loadingBtn.style.display = 'none'
                        makeZipModalBtn.innerHTML = "Zip"
                        deleteZipBtn.style.display = "flex"
                        deleteZipBtn.setAttribute('href', data.deleteUrl)
                    })
                })
            </script>
            <% }else{ %>
            <p class="text-center m-3 ">No one uploaded yet!!! 😒</p>
            <% } %>

        </div>
        <% } %>

    </div>
</div>
<script defer>

    const modalButtons = document.querySelectorAll('[modal]')
    modalButtons.forEach(button => {
        button.addEventListener("click", e1 => {
            const modal = document.querySelector(e1.target.getAttribute('modal-target'));

            const listener = (e2) => {
                if (e2.target.getAttribute('modal-close') == 'true') {
                    modal.classList.toggle('modal-show')
                    document.body.classList.toggle('modal-open')
                    modal.removeEventListener('click', listener)
                }
                else {
                    return
                }
            }
            modal.addEventListener('click', listener)
            modal.classList.toggle('modal-show')
            document.body.classList.toggle('modal-open')
        });
    })
</script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-metadata/dist/filepond-plugin-file-metadata.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-rename/dist/filepond-plugin-file-rename.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script>
    FilePond.registerPlugin(
        FilePondPluginFileEncode,
        FilePondPluginFileMetadata,
        FilePondPluginFileRename,
        FilePondPluginFileValidateSize);
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement, {
        allowFileRename: true,
        fileRenameFunction: (file) => {
            return `my_new_name${file.extension}`;
        },
        allowFileSizeValidation: true,
        minFileSize: '150KB',
        maxFileSize: "10024KB",
        labelMaxFileSize: "Maximum file size is {filesize}",
        allowFileTypeValidation: true,
        acceptedFileTypes: ["application/pdf"],
        labelFileTypeNotAllowed: "File of invalid type",
        fileValidateTypeLabelExpectedTypes: "Expects {allButLastType} or {lastType}",
    });
</script>